<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Conference Talks</title>
    <link rel="stylesheet"
          href="/css/bootstrap.css">
    <link rel="stylesheet"
          href="/css/mordred.css">
    <meta name="description"
          content="Conference Talks by {{author.name}}">
    <meta name="author" content="{{author.name}}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid"><a href="/">
        <span class="navbar-brand">
                Things you may or may not care or not care about.</a></span>
    </div>
</nav>

<div class="jumbotron">
  <div class="container-fluid">
      <h1>
          <span xmlns:dct="http://purl.org/dc/terms/"
              href="http://purl.org/dc/dcmitype/InteractiveResource"
              property="dct:title"
              rel="dct:type">
              {{author.name}} Conference Talks
      </h1>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="col-xs-2">Last Updated</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                {{#each presentations}}
                    <tr>
                        <td>{{datetime mtime}}</td>
                        <td>
                            <a href="{{path}}" target="_blank">
                              {{title}}
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-bottom">
    <div class="container-fluid">
        <p class="navbar-text">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License"
                     src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
            </a>
          <a xmlns:cc="http://creativecommons.org/ns#"
              rel="cc:attributionURL"
              href='http://inaugust.com'>http://inaugust.com</a>
            by <span xmlns:cc="http://creativecommons.org/ns#"
                               property="cc:attributionName">Monty Taylor</span>
            is licensed under a <a rel="license"
                                   href="http://creativecommons.org/licenses/by/4.0/">Creative
            Commons Attribution 4.0 International License</a>.
          Website source code available at <a href='http://git.inaugust.com/cgit/inaugust.com'>http://git.inaugust.com/cgit/inaugust.com</a>
        </p>
      </div>
</nav>
</body>
</html>
